# SPDX-FileCopyrightText: 2023 Julian-Samuel Gebühr
#
# SPDX-License-Identifier: AGPL-3.0-or-later

#
# Ansible managed
#

global: {{ prometheus_alertmanager_config_global | to_json }}

templates:
- '/etc/alertmanager/templates/*.tmpl'

receivers: {{ prometheus_alertmanager_config_receivers | to_json }}

route: {{ prometheus_alertmanager_config_route | to_json }}
